[submodule "submodules/bash-git-prompt"]
	path = submodules/bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt
[submodule "submodules/i3blocks"]
	path = submodules/i3blocks
	url = https://github.com/vivien/i3blocks.git
[submodule "submodules/libinput-gestures"]
	path = submodules/libinput-gestures
	url = https://github.com/bulletmark/libinput-gestures.git
[submodule "submodules/bash-completion"]
	path = submodules/bash-completion
	url = https://github.com/scop/bash-completion.git
[submodule "submodules/ctags"]
	path = submodules/ctags
	url = https://github.com/universal-ctags/ctags.git
